{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include 'navbar/navbar.html.twig' %}

    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-md text-center px-5 mt-2">
                <img src="{{ asset('/build/images/logo-lafabricadegomas-big.png') }}" class="img-fluid"
                     alt="Responsive image">
            </div>
        </div>
        <div class="row m-2">
            <div class="col-md text-center">
                <p class="focus-in-expand-1">
                    Tu espacio creativo en Pamplona.
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0 ">
        <div class="bg-image">
            <div class="p-5  pepe">
                <p class="display-4 text-center m-0 focus-in-expand-4">Eventos</p>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0 ">
            <div class="p-5">
                <p class="display-4 text-center m-0 focus-in-expand-7">Historia</p>
            </div>
    </div>
{% endblock %}
