@import "variables";
@import "font";
@import "images";
@import "slide-in.css";
@import "colors";
@import "../css/text-effects.css";
@import "../css/footer.css";

.rounded-1 {
  border-radius: 1rem !important;
}

.link {
  text-decoration: none !important;
}



.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

// the ~ allows you to reference things in node_modules
@import '~bootstrap';
@import '../css/focus-in-expand';