$spacer : 2rem !default;
$primary: darken(#428bca, 20%);
$clear: #fafafa;
$body-bg: #F1F0E8;
$body-color: #111;
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
$font-family-base: 'Source Serif Pro', serif;

$spacers: (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3),
        6: ($spacer * 5)
);

.bg-image {
  background-image: url('/build/images/events-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pepe {
  line-height: 1;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  color: $clear;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

// the ~ allows you to reference things in node_modules
@import '~bootstrap';
@import '../css/focus-in-expand';