.bg-image-events {
  background-image: url('/build/images/events-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-logo {
  background-image: url('/build/images/logo-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blurred {
  line-height: 1;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


//body {
//  background: url('/build/images/home-bg.jpg') no-repeat center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  background-size: cover;
//  -o-background-size: cover;
//}