<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-lg-6 text-center mt-2 bt-2 mx-2 m-md-0 mt-md-2 p-0 scale-in-top-d-6">
                <div class="mr-lg-2 bg-gradient-primary rounded-1 text-light">
                    <p class="h2 m-0 p-3">Contacto</p>
                </div>
            </div>
            <div class="col-md-11 col-lg-6 text-center mt-2 mb-2 mb-lg-2 mx-2 m-md-0 mt-md-2 p-0 scale-in-top-d-6">
                <div class="bg-gradient-secondary rounded-1 text-light">
                    <p class="h2 m-0 p-3">Ven a visitarnos</p>
                </div>
            </div>
        </div>
    </div>

</footer>