{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
    {% include 'navbar/navbar.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-11 text-center rounded-1 mt-2 mx-2 m-md-0 mt-md-2 p-0 scale-in-center ">
                <div class="col-md-11 col-lg-8 mx-auto">
                <div id="eventsCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for eventPhoto in event.eventPhotos %}
                            <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                                <img class="img-fluid "  src="{{ vich_uploader_asset(eventPhoto, 'imageFile') }}" alt="...">
                                <div class="carousel-caption d-none d-md-block text-dark bg-gradient-light rounded-1">
                                    <h5 class="m-0">{{ eventPhoto.title }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev rounded-1" href="#eventsCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next rounded-1" href="#eventsCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            {% include 'events/description.html.twig' %}
            </div>

    </div>
    {% include 'footer/footer.html.twig' %}
{% endblock %}
