{% extends 'base.html.twig' %}

{% block title %}Listado de Eventos{% endblock %}

{% block body %}
    {% include 'navbar/navbar.html.twig' %}
    <div class="container">
        <div class="row">
            {% for event in events %}
            <div class="col-lg-12 col-md-11 text-center rounded-1 mt-2 mx-2 m-md-0 mt-md-2 p-0 scale-in-center ">
                {{ event.description }}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}